/node_modules
/public/hot
/public/documentos
/public/img/comprobantes
/public/img/documentos
/public/img/preguntas
/public/img/usuarios
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
