body {
    background-image: linear-gradient(310deg, #008b9b 0%, #01bbcc 100%);
    font-family: "Asap", sans-serif;
}

.login {
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
    -moz-transition: -moz-transform 300ms, box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
}
.login::before,
.login::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
}
.login::before {
    left: 40%;
    bottom: -130%;
    background-color: rgba(69, 105, 144, 0.15);
    -webkit-animation: wawes 6s infinite linear;
    -moz-animation: wawes 6s infinite linear;
    animation: wawes 6s infinite linear;
}
.login::after {
    left: 35%;
    bottom: -125%;
    background-color: rgba(2, 128, 144, 0.2);
    -webkit-animation: wawes 7s infinite;
    -moz-animation: wawes 7s infinite;
    animation: wawes 7s infinite;
}
.login > input {
    font-family: "Asap", sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
    outline: 0;
}
.login > button {
    font-family: "Asap", sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: auto;
    border: 0;
    padding: 10px 15px;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-image: linear-gradient(310deg, #008b9b 0%, #01bbcc 100%);

    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
}
.login > button:hover {
    background-image: linear-gradient(310deg, #017f8d 0%, #01a2b1 100%);
}

@-webkit-keyframes wawes {
    from {
        -webkit-transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes wawes {
    from {
        -moz-transform: rotate(0);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@keyframes wawes {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
}
.imgSubtitle {
    width: 150px;
    margin-bottom: 30px !important;
}

.alert-danger {
    background-image: linear-gradient(310deg, #ea0606 0%, #ff3d59 100%);
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.alert-danger {
    --bs-alert-color: #8c0404;
    --bs-alert-bg: #fbcdcd;
    --bs-alert-border-color: #f9b4b4;
}

.alert {
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 1rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: 1px solid var(--bs-alert-border-color);
    --bs-alert-border-radius: 0.5rem;
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
    border-radius: var(--bs-alert-border-radius, 0);
}

.me-2 {
    margin-right: 0.5rem !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

.text-white {
    color: #fff !important;
}

@media (max-width: 485px) {
    .login {
        width: 300px;
    }
    .img_up {
        text-align: center !important;
    }
}

@media (max-width: 400px) {
    .login {
        width: 250px;
    }

    .login > button {
        font-size: 13px;
    }
}

@media (max-width: 340px) {
    .login {
        width: 200px;
    }
}

body.dark {
    background-image: linear-gradient(310deg, #353637 0%, #272829 100%);
}

body.dark .login {
    background-color: #212529;
    box-shadow: 5px 10px 10px rgba(33, 37, 41, 0.769);
}

body.dark .login > input {
    background: #212529;
    color: #fff;
    border: none !important;
}

body.dark .login > input:-webkit-autofill,
body.dark .login > input:-webkit-autofill:hover,
body.dark .login > input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #212529 inset;
    -webkit-text-fill-color: #fff;
    border: none !important;
}

body.dark .login > input::placeholder {
    color: #fff;
}
